* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 100%;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    padding-bottom: 5px;
    background-color: #eeaeca58;
    padding: 0 15px;
    border-radius: 20px;
}

.keys {
    width: clamp(250px, 40vw, 400px);
    height: clamp(300px, 40vw, 600px);
    gap: 10px;
    border-radius: 25px;
    padding: 30px 40px 30px 40px;
    background-color: rgba(49, 54, 54, 0.411);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "display display display display"
        "clearbtn clearbtn backbtn backbtn"
        "seven eight nine devide"
        "four five six multi"
        "one two three substract"
        "resultbtn zero deci plus";
}

.input {
    border-radius: 10px;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    padding: 1px 3px;
}


#display {
    grid-area: display;
    overflow-x: auto;
    white-space: nowrap;
    text-align: right;
    font-size: 2.5rem;
}

#clearbtn {
    grid-area: clearbtn;
}

#backbtn {
    grid-area: backbtn;
}

#plus {
    grid-area: plus;
}

#substract {
    grid-area: substract;
}

#devide {
    grid-area: devide;
}

#multi {
    grid-area: multi;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}

#resultbtn {
    grid-area: resultbtn;
}

#decimal {
    grid-area: deci;
}

button {
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;
}

button:hover {
    background-color: rgba(240, 248, 255, 0.552);
}